<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVYs2PDnrlEAp_1rnYmDDCVqHXBlc3poA</string>
	<key>GCM_SENDER_ID</key>
	<string>828007872799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelOnFinal</string>
	<key>PROJECT_ID</key>
	<string>travel-on-app</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-on-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828007872799:ios:26950953dfd5ddc9e6582a</string>
</dict>
</plist>